client/src/assets/AssetsCrud.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://api/" name="AssetsCrud" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://api/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api/" schemaLocation="AssetsCrud_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="put">
    <part name="parameters" element="tns:put"/>
  </message>
  <message name="putResponse">
    <part name="parameters" element="tns:putResponse"/>
  </message>
  <message name="post">
    <part name="parameters" element="tns:post"/>
  </message>
  <message name="postResponse">
    <part name="parameters" element="tns:postResponse"/>
  </message>
  <message name="listPerson">
    <part name="parameters" element="tns:listPerson"/>
  </message>
  <message name="listPersonResponse">
    <part name="parameters" element="tns:listPersonResponse"/>
  </message>
  <portType name="PersonCRUD">
    <operation name="put">
      <input wsam:Action="http://api/PersonCRUD/putRequest" message="tns:put"/>
      <output wsam:Action="http://api/PersonCRUD/putResponse" message="tns:putResponse"/>
    </operation>
    <operation name="post">
      <input wsam:Action="http://api/PersonCRUD/postRequest" message="tns:post"/>
      <output wsam:Action="http://api/PersonCRUD/postResponse" message="tns:postResponse"/>
    </operation>
    <operation name="listPerson">
      <input wsam:Action="http://api/PersonCRUD/listPersonRequest" message="tns:listPerson"/>
      <output wsam:Action="http://api/PersonCRUD/listPersonResponse" message="tns:listPersonResponse"/>
    </operation>
  </portType>
  <binding name="PersonCRUDPortBinding" type="tns:PersonCRUD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="put">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="post">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AssetsCrud">
    <port name="PersonCRUDPort" binding="tns:PersonCRUDPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

